.profile {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.501), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.737);
    border-radius: 0px 0px 14px 14px;
    text-align: center;
}
.avatar {
    width: 250px; 
    padding-top: 50px;
}
.name {
    font-family: inherit;
    font-weight: 700;
    font-size: 25px;
    line-height: calc(30 / 25);
    align-items: center;
    text-align: center;
    color: brown;
    margin-top: 8px;
}
.grid {
    display: flex;
    width: 100%;
    text-align: center;
    align-content: center;
    list-style: none;
    border-radius: 15px;    
}
.gridItem {
    border: 3px solid gray;
    padding: 10px 30px;
    background-color: azure;
    border-radius: 15px;
}
.description {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.tag {
    font-family: inherit;
    font-weight: 500;
    font-size: 25px;
    line-height: calc(30 / 25);
    align-items: center;
    text-align: center;
    color: dimgrey;
}
.location {
    font-family: inherit;
    font-weight: 500;
    font-size: 25px;
    line-height: calc(30 / 25);
    align-items: center;
    text-align: center;
    color: dimgrey;
}
