.sectionStyle {
    margin-top: 35px;
    text-align: center;
}
.title {
    font-family: inherit;
    font-weight: 500;
    font-size: 25px;
    line-height: calc(50 / 25);
    align-items: center;
    text-align: center;
    color: brown;
}